@charset "UTF-8";
@font-face {
  font-family: "flaticon_noxfolio";
  src: url("./flaticon_noxfolio.ttf?943527ded4c907448c49887765f842d3") format("truetype"), url("./flaticon_noxfolio.woff?943527ded4c907448c49887765f842d3") format("woff"), url("./flaticon_noxfolio.woff2?943527ded4c907448c49887765f842d3") format("woff2"), url("./flaticon_noxfolio.eot?943527ded4c907448c49887765f842d3#iefix") format("embedded-opentype"), url("./flaticon_noxfolio.svg?943527ded4c907448c49887765f842d3#flaticon_noxfolio") format("svg"); }

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon_noxfolio !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.flaticon-asterisk:before {
  content: ""; }

.flaticon-sun:before {
  content: ""; }

.flaticon-star:before {
  content: ""; }

.flaticon-asterisk-1:before {
  content: ""; }

.flaticon-call:before {
  content: ""; }

.flaticon-waning-moon:before {
  content: ""; }

.flaticon-moon:before {
  content: ""; }
